<body class="container-fluid">
    <div class="session">
        <form action="" class="log-in" [formGroup]="form">
            <h4>Vijay Associations</h4>
            <!-- <h4>Welcome Back</h4> -->
            <p >Welcome back! Log in to your account to view today's Deals</p>
            <div style="width:500px">

                <p class="alert alert-danger" *ngIf="showAlert" >Invalid Credentials!!!!</p>

            </div>
            <!-- <div class="floating-label">
                <mat-icon matSuffix>eye</mat-icon>
                <input placeholder="User Name" type="email" name="email" id="email" autocomplete="off" formControlName="username">
                <label for="email">User Name</label>
            </div> -->
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">@<i class="bi bi-person-circle"></i></span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" formControlName="UserName" aria-describedby="addon-wrapping">
              </div> <br>
              <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping">#<i class="bi bi-shield-lock-fill"></i></span>
                  <input type="password" class="form-control" placeholder="Password" aria-label="password" formControlName="Password" aria-describedby="addon-wrapping">
                </div> <br>
                <a [routerLink]="['/forgotpassword']" class="aLink" routerLinkActive="">Forgot Password?</a>
            <!-- <div class="floating-label">
                <mat-icon matSuffix>eye</mat-icon>
                <input placeholder="Password" type="password" name="password" id="password" autocomplete="off" formControlName="password">
                <label for="password">Password:</label>
            </div> -->
            <button type="submit" onClick="return false;"  (click)="onSubmit()">Log in</button>
        </form>
    </div>
</body>
