<body class="container-fluid">
  <div class="session">
<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="170px">
    <!-- *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows" -->
    <mat-grid-tile>
      <mat-card class="dashboard-card  mat-elevation-z1" style="background-color:#54f216;color: white">
        <mat-card-header>
          <mat-card-title>
            <!-- <mat-icon>attach_money</mat-icon> -->
            <span>Daily</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h1><b>100</b></h1>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
      <mat-grid-tile>
      <mat-card class="dashboard-card  mat-elevation-z1" style="background-color:hsl(0, 82%, 50%);color: white">
        <mat-card-header>
          <mat-card-title>
            <!-- <mat-icon>attach_money</mat-icon> -->
            <span>Monthly</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h1><b>100</b></h1>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
      <mat-grid-tile>
      <mat-card class="dashboard-card  mat-elevation-z1" style="background-color:#8d27ed;color: white">
        <mat-card-header>
          <mat-card-title>
            <!-- <mat-icon>attach_money</mat-icon> -->
            <span>Yearly</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h1><b>100</b></h1>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
  </div>
</body>
<body class="container-fluid">
  <div class="session">

    <div class="row">
      <div class="col-sm-4">
        <mat-card class="dashboard-card  mat-elevation-z1" style="background-color:hsl(0, 82%, 50%);color: white">
          <mat-card-header>
            <mat-card-title>
              <!-- <mat-icon>attach_money</mat-icon> -->
              <span>Monthly</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <h1><b>100</b></h1>
          </mat-card-content>
        </mat-card>

      </div>
      <div class="col-sm-4">
        <mat-card class="dashboard-card  mat-elevation-z1" style="background-color:hsl(227, 81%, 71%);color: white">
          <mat-card-header>
            <mat-card-title>
              <!-- <mat-icon>attach_money</mat-icon> -->
              <span>Monthly</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <h1><b>100</b></h1>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-sm-4">

        <mat-card class="dashboard-card  mat-elevation-z1" style="background-color:hsl(133, 82%, 50%);color: white">
          <mat-card-header>
            <mat-card-title>
              <!-- <mat-icon>attach_money</mat-icon> -->
              <span>Monthly</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <h1><b>100</b></h1>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
    </div>

    </body>
